<div class="main" #themechange theme="dark">
  <mat-toolbar class="custom-color">
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      <button mat-button (click)="toggle()">Theme Change</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <button [routerLink]="[ '/first' ]" mat-button>First</button>
  <button [routerLink]="[ '/second' ]" mat-button>Second</button>
  <button [routerLink]="[ '/first/three' ]" mat-button>Three</button>
  
  <router-outlet></router-outlet>
</div>

